<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Tournament Randomizer</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<main>
    <header>Coin Flip</header>
    <div class="coin">
        <p th:text="${coin}"></p>
    </div>
    <div>
        <a class="main__table--submit-button" th:href="@{'/'}">Back to armies!</a>
    </div>
</main>
</body>
</html>